{% extends "hitmen/base_users.html" %}

{% load  static %}

{% block panel-content %}

<div class="grid-x grid-margin-x align-center">
  <h5 class="cell" style="margin-bottom: 1em; text-align: center;">Hitman Detail</h5>  
  <div class="cell medium-9 grid-x grid-margin-x align-center">
    
    <div class="cell medium-7">
        <div class="card cell">
            <div class="card-section">
              <h4>{{ object.name }}</h4>
              <p><span style="font-weight: bold;">Email:</span> {{ object.email }}</p>
              <p><span style="font-weight: bold;">Description:</span> {{ object.description }}</p>
              <p><span style="font-weight: bold;">Status:</span> {{ object.status }}</p>
              <p><span style="font-weight: bold;">Manager:</span> {{ object.manager }}</p>
            </div>
        </div>
    </div>
{% endblock panel-content %}