{% extends "base.html" %}

{% load  static %}

{% block content %}

<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left" style="background-color: #424242;">
            <div class="row column">
              <h3 style="text-align: center; padding: 0.3em; color: #ffae00;">Spy Agency</h3>
              <ul class="vertical menu">
                  <li>
                    <a href="#"><span class="label warning">Hits</span></a>
                    <ul class="nested vertical menu">
                      <li>
                        <a href="{% url 'hits_app:hit-register' %}" style="color: white;">Create</a>
                      </li>
                      <li>
                        <a href="{% url 'hits_app:hit-list' %}" style="color: white;">List</a>
                      </li>
                    </ul>
                  </li>
              </ul>
              <ul class="vertical menu">
                <li>
                  <a href="#"><span class="label warning">Hitmen</span></a>
                  <ul class="nested vertical menu">
                    <li>
                      <a href="{% url 'hitmen_app:hitman-list' %}" style="color: white;">List</a>
                    </li>
                  </ul>
                </li>
            </ul>
            </div>
          </div>
        <div class="off-canvas-content" data-off-canvas-content>
            <div class="grid-x">
            <div class="cell top-bar" style="background-color: #424242;">
                <div class="top-bar-right">
                <a href="{% url 'hitmen_app:hitman-logout' %}">
                    <span class="label warning">Logout</span>
                </a>
                </div>
            </div>
            </div>
            <div class="grid-container" style="padding: 1em;">
            {% block panel-content %}
            {% endblock panel-content %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}